/* NAVBAR */

.navbar-nav {
    font-size: medium;
    margin-left: 640px;
    margin-top: 50px;
  }
  .active {
    background-color:rgb(241, 241, 139);
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
  }
  .nav-link {
      font-size: large;
  }
  /* caraosel */

  .d-block {
   padding-right: 350px;
   padding-left: 350px;
   margin-top: 70px;
   margin-bottom: 70px;
   background-color: rgb(241, 241, 139);
}
/* CARDS */

.main-card {
    background-color:white ;
    padding-top: 120px;
    width: 100%;
  }
  
  .card {
    width: 28rem;
    margin-left: 40px;
    border:solid 1px brown;
    background-color: white;
    margin-bottom: 60px;
  
  }
  .card-img-top{
    height: 33rem;
    padding: 20px;
    text-align: center;
  }
  .overlay1 {
    top: 360px; 
    left: 120px;
    padding: 10px;
    text-align: center;
    font-size: 30px;
    color:rgba(255, 0, 128, 0.918) !important;
    background-color: rgb(241, 241, 139);
    font-family: 'Times New Roman', Times, serif;
  }
  
  /* CONTACT PAGE STYLING     */

.float{
    background-repeat: no-repeat;
    height: 800px;
    width:1200px;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
}
.line{
    border-top: 2px solid black;
}
input{
    margin:5px;
    height:40px;
    width:225px;
    margin-top: 30px;
    text-align: center;
}
.date{
    width:125px;
    height: 30px;
}
.clear{
    background: rgba(0, 0, 0, 0.1);
}
.submit{
    width:150px;
    height: 40px;
    color: white;
    background-color:rgb(255,0,129);
    border: 2px solid white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 50px;
}
td{
    width:33%;
}
h4 {
  color: rgb(90, 4, 4);
  margin-top: 40px;
  text-shadow: 2px 2px white;

}
h1 {
  color:white;
  text-shadow: 2px 2px black;
}
.parallax {
    background-image:url(Strawberry-Shortcake-Cake1.jpg) ;
    min-height:700px;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 50px;
}
/* FOOTER */

.footer {
    color: black; 
    text-shadow: 1px 1px white;
    background-color: rgb(149, 223, 241);
    height: 450px;
    padding: 70px;
    font-size: small;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  .p-div {
    padding: 10px;
  }
  .f-col {
    padding-left: 40px;
    padding-right: 40px;
  }
  .f-col-V {
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
  }
  .f-cols {
    font-family: 'Times New Roman',Times, serif;
    color: rgba(255, 0, 128, 0.918);
  }
  .f-col1 {
    padding-bottom: 50px;
    padding-right: 50px;
    padding-left: 50px;
  }
  ::placeholder {
    color: black;
  }
  .f-end {
    background-color: black;
    font-size: x-small;
    color: white;
    text-align: center;
    padding-top: 15px;
  }

  /* cart */
  
  .shop-item-title {
    font-size: 14px;
    font-family: cursive;
    color: white;
    text-align: center;
    background-color:rgba(255, 0, 128, 0.918);
}
.shop-item-image {
   height: 250px;
}
.img-custom {
    height: fit-content;
    margin-bottom: 45px;
    border: 2px solid rgba(255, 0, 128, 0.918);
}
.shop-head {
    font-size: 30px;
    color:rgb(245, 101, 6);
    margin-top: 100px;
    border: 2px solid black;
    margin: 30px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    background-color:rgba(0, 247, 255, 0.432) ;
    font-weight: bold;
}
.shop-item {
    margin: 30px;
}
.section-header {
  font-size: 60px;
  font-family: 'Times New Roman', Times, serif;
  color: rgb(255,0,129);
  text-shadow: 3px 3px white;
  font-weight: bold;
  background-color: rgba(255, 255, 0, 0.541);
  margin-bottom: 60px;
  margin-top: 80px;
  text-align: center;

}
.shop-item-button {
    font-size: 13px;
    font-weight: bold;
}
.bi-arrow-down-square-fill {
    color: rgb(255,0,129);
    background-color: rgba(255, 255, 0, 0.541);
    border: 2px solid white;
    margin-left:19%;
    margin-bottom: 5%;
    position: fixed;
}

/* CART STYLING */

.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: #333;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 45%;
    padding-left: 200px;
    font-family: 'Times New Roman', Times, serif;
}

.cart-price {
    width: 20%;
    font-size: 1.2em;
    padding-left: 110px;
    font-family: 'Times New Roman', Times, serif;
}

.cart-quantity {
    width: 35%;
    padding-left: 200px;
    font-family: 'Times New Roman', Times, serif;
}
.btn-danger{
  margin-top: 25px !important;
}

.cart-item-title {
    color: #333;
    margin-left: .5em;
    font-size: 1.2em;
}
.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}
.cart-total {
    border-top: 1px solid black;
}
.cart-total-title {
    padding-left: 780px;
    font-family: 'Times New Roman', Times, serif;
}
.cart-total-price {
    padding-left: 790px;
    font-size: medium;
    font-weight: bold;
}
.parcel-option {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}
::placeholder {
    color: black;
    background-color:rgba(242, 243, 184, 0.897);
}
label {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    background-color: white;
}
.cake {
    margin-left: 600px;
}
.f-col-but {
    padding-left: 130px;

}

/* TABLE */

  .t-1 {
     margin-top: 0px;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    height: 420px;
    width: 100%;
    border: 1px solid #dddddd;

  }
.r:nth-child(even) {
    background-color: #dddddd;

  }
 .col {
    text-align: center;
    padding: 8px;
    
}  
.btn-purchase {
    margin-left: 635px;
    margin-bottom: 70px;
} 
.check {
    height: 15px;
    width: 15px;
}